/* Credit to SUYI for part of this code */
/* Font size and other stuff about bucephalus  */
html {
    font-size: 62.5%;
}

body {
    height: 100%;
    max-height: 100%;
    font-family: "Merriweather", serif;
    letter-spacing: 0.01rem;
    font-size: 1.8rem;
    line-height: 1.75em;
    color: #3A4145;
    text-rendering: geometricPrecision;
}

.inner {
    position: relative;
    width: 80%;
    max-width: 710px;
    margin: 0 auto;
}

/* Centres vertically */
.vertical {
    display: table-cell;
    vertical-align: middle;
}

/* Big cover image on the home page */
.main-header {
    /*position: relative;*/
    display: table;
    width: 100%;
    height: 20vh;
    margin-bottom: 5rem;
    text-indent: -20em;
    background: #222 no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.main-header .inner {
    width: 80%;
}

/* Hide when there's no cover image or on page2+ */
.no-cover .scroll-down,
.no-cover.main-header:after,
.archive-template .scroll-down,
.archive-template .main-header:after {
    display: none
}

/* Bucephalus  */
.btn-bootstrap-2 {
    /* text-align: center; */
    text-decoration: none;
    color: rgba(255,255,255,0.7);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    border: #bfc8cd 1px solid;
    opacity: 1;
    text-transform: uppercase;
    line-height: 35px;
    white-space: nowrap;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.39);
}

/* Pretty stuff */
body {
  margin: 0;
}

canvas {
  display: block;
  vertical-align: bottom;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2FA7DC;
  background-image: url("../images/screen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}
